.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.tfstate
crash.log
override.tf
override.tf.json
.tfvars           
*.tfvars.json
.env
.pem
.aws/
.log
.DS_Store
.dockerignore
terraform.tfvars
terraform.tfvars
