.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace
.terraform/
.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.tfplan
*.log
bin/
*.exe
*.test
vendor/
node_modules/
dist/
build/
__pycache__/
*.pyc
.env
.env.*
# Terraform lock (not committing)
.terraform.lock.hcl
