name: Terraform Apply

on:
  workflow_dispatch:

jobs:
  terraform-apply:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      TF_VAR_domain_name: ${{ secrets.DOMAIN_NAME }}
      TF_VAR_memos_admin_username: ${{ secrets.MEMOS_ADMIN_USERNAME }}
      TF_VAR_memos_admin_password: ${{ secrets.MEMOS_ADMIN_PASSWORD }}
      TF_VAR_route53_zone_name:    ${{ secrets.ROUTE53_ZONE_NAME }}


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::869867698229:role/Github-OIDC-Deploy-Role
          aws-region: eu-west-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=terraform init

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve

